@import 'tailwindcss';

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: theme(--font-family-inter);
}

@theme {
	--font-family-inter: 'Inter', sans-serif;
	--font-family-space: 'Space Grotesk', sans-serif;
	--color-black: #000;

	--color-customblue-1: #2115ff;
	--color-customblue-2: #3b2fff;
	--color-customblue-3: #6666ff;
	--color-customblue-4: #dee0ff;
	--color-customgray-1: #161c22;
	--color-customgray-2: #313e49;
	--color-customgray-3: #3d505d;
	--color-customgray-4: #4c6372;
	--color-customgray-5: #b1c3cf;
	--color-customred-1: #ff2314;
	--color-customred-2: #ff493a;
	--color-customred-3: #ff8e85;
	--color-customgreen-1: #00cc3f;
	--color-customgreen-2: #00ed49;
	--color-customgreen-3: #57ffa4;
	--color-customyellow-1: #e6b600;
	--color-customyellow-2: #ffd100;
	--color-customyellow-3: #ffed75;
}
